:root {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;

  --color-1: rgb(206, 212, 218);
  --color-2: rgb(173, 181, 189);
  --color-3: rgb(108, 117, 125);
  --color-4: rgb(73, 80, 87);
}

#root,
#__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font: inherit;
}
